{% load crispy_forms_tags %}

<form method="post">

    {% csrf_token %}
    {{ form|crispy }}

    <input type="hidden" name="card_id" value="{{ random_card.id }}">
    <input type="hidden" name="understood" value="{{ understood }}">

    {% if understood %}
        <p>
        <input type="submit" value="Mark Item Understood" class="btn btn-success"/>
        </p>
        {% else %}
        <p>
        <input type="submit" value="Item Not Understood Yet" class="btn btn-danger"/>
        </p>
    {% endif %}

</form>