{% extends "base.html" %} 

{% block content %}

<div class="text-center body-div">

    <main class="w-100 m-auto">

        <h2 class="mb-3 fw-normal"><em>PRACTICE</em></h2>

        <p>User: {{ user.username }}</p>

        <p>{{ random_card.question }}</p>
        <details>
            <p>{{ random_card.answer }}</p>
        </details>
        <br>

        {% include "cards/card_form.html" with understood=True %}
        {% include "cards/card_form.html" with understood=False %}

    </main>

</div>


{% endblock content %}