{% extends "base.html" %} 

{% block content %}

<h2 class="mb-5 fw-normal">Practice</h2>

    <input type="checkbox" id="card"/>
    <label class="card-container" for="card">

        <div class="card-flip w-50 m-auto">

            <div class="card front">
                <div class="card-block">
                    <p class="card-text">{{ random_card.question }}</p>
                </div>

            </div>

            <div class="card back">
                <div class="card-block">
                    <p class="card-text">{{ random_card.answer }}</p>
                    {% include "cards/card_form.html" with understood=True %}
                    {% include "cards/card_form.html" with understood=False %}
                </div>
            </div>

        </div>

    </label>

{% endblock content %}
