{% extends "base.html" %} 

{% block content %}

<h2 class="mb-5 fw-normal">Practice</h2>

    <input type="checkbox" id="card"/>
    <label class="card-container" for="card">

        <div class="card-flip w-auto h-auto m-auto">

            <div class="card front border border-5 border-dark p-3">
                <h5 class="card-title">{{ random_card.question }}</h5>
                <p class="card-text"><em>Click card to reveal answer</em></p>
            </div>

            <div class="card back border border-5 border-dark p-3">
                <div>
                    <p class="card-text">{{ random_card.answer }}</p>
                    {% include "cards/card_form.html" with understood=True %}
                    {% include "cards/card_form.html" with understood=False %}
                </div>
            </div>

        </div>

    </label>

{% endblock content %}
