input[type="checkbox"] {
  display: none;
}

/* Flip Cards CSS */
.card-container {
  /* border: 1px solid black; */
  /* display: grid; */
  perspective: 700px;

  /* height: 500px; */
  /* width: 400px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
  align-items: center;
  background-color: #0c3c26;
  color: #fff;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
  align-items: center;
  background-color: #0c3c26;
  color: #fff;
}

input[type="checkbox"]:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}
