{% extends "base.html" %}

{% block content %}



{% comment %} 
<h2>Home</h2>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

{% if user.is_authenticated %}

<p>Hi {{ user.username }}!</p>

<p>Welcome to Django Flashcards. The resources used for this site are:</p>

<ul>
    <li><a href="https://www.interviewbit.com/django-interview-questions/" target="_blank">https://www.interviewbit.com/django-interview-questions/</a></li>
    <li><a href="https://www.javatpoint.com/django-interview-questions-and-answers" target="_blank">https://www.javatpoint.com/django-interview-questions-and-answers</a></li>
    <li><a href="https://mindmajix.com/django-interview-questions" target="_blank">https://mindmajix.com/django-interview-questions</a></li>
    <li><a href="https://www.edureka.co/blog/interview-questions/django-interview-questions/" target="_blank">https://www.edureka.co/blog/interview-questions/django-interview-questions/</a></li>
    <li><a href="https://career.guru99.com/top-16-django-interview-questions/" target="_blank">https://career.guru99.com/top-16-django-interview-questions/</a></li>
    <li><a href="https://hackr.io/blog/top-django-interview-questions-and-answers" target="_blank">https://hackr.io/blog/top-django-interview-questions-and-answers</a></li>
    <li><a href="https://www.simplilearn.com/django-interview-questions-article" target="_blank">https://www.simplilearn.com/django-interview-questions-article</a></li>
    <li><a href="https://intellipaat.com/blog/interview-question/django-interview-questions/" target="_blank">https://intellipaat.com/blog/interview-question/django-interview-questions/</a></li>
    <li><a href="https://www.adaface.com/blog/top-django-interview-questions-with-answers/" target="_blank">https://www.adaface.com/blog/top-django-interview-questions-with-answers/</a></li>
    <li><a href="https://www.turing.com/interview-questions/django" target="_blank">https://www.turing.com/interview-questions/django</a></li>
</ul>


{% else %}

<p>Please log in to practice.</p>

{% endif %} {% endcomment %}




{% endblock content %}