{% extends "base.html" %}

{% block title %}LEADERBOARD{% endblock title %}

{% block content %}

<h2 class="mb-5 fw-normal"><em>LEADERBOARD</em></h2>

{% for item in user_progress_list %}
<div>
    <p>USERNAME: {{ item.user }}</p>
    <p>QUESTION: {{ item.card.question }}</p>
    <p>UNDERSTOOD: {{ item.is_understood }}</p>
    <p>DATE FIRST SEEN: {{ item.date_first_seen }}</p>
    <p>DATE LAST SEEN: {{ item.date_last_seen }}</p>
    <p>DATE UNDERSTOOD: {{ item.date_understood }}</p>
    <p>TIMES SEEN: {{ item.times_seen }}</p>
    <hr>
</div>
{% endfor %}

{% endblock content %}