{% extends "base.html" %}

{% block title %}LEADERBOARD{% endblock title %}

{% block content %}

<h2 class="mb-5 fw-normal"><em>LEADERBOARD</em></h2>

{% if messages %}
<div>
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div>
    <h3>FLASHCARDS COMPLETED</h3>
    <ol>
    {% for item in data|dictsortreversed:"cards_understood" %}
        <li>{{ item.user }} - {{ item.cards_understood }}</li>
    {% endfor %}
    </ol>
</div>

<div>
    <h3>PERCENTAGE COMPLETED</h3>
    <ol>
        {% for item in data|dictsort:"percentage_completed" %}
            <li>{{ item.user }} - {{ item.percentage_completed }}</li>
        {% endfor %}
    </ol>
</div>

{% endblock content %}