<menu>
  <ul class="nav">
    <li>
      <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a href="{% url 'practice' %}">Practice</a>
    </li>
    <li>
      <a href="{% url 'card-list' %}">View Cards</a>
    </li>
    <li>
      <a href="{% url 'leaderboard' %}">Leaderboard</a>
    </li>
  </ul>

  <ul class="nav">
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'account' %}">Account</a>
    </li>
    {% else %}
    <li>
      <a href="{% url 'account_login' %}">Log In</a>
    </li>
    <li>
      <a href="{% url 'account_signup' %}">Sign Up</a>
    </li>
    {% endif %}
  </ul>
</menu>
