* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
}

menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0c3c26;
  padding: 36px 36px;
  font-size: 24px;
}

menu a {
  color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

h1 {
  text-align: center;
  font-size: 48px;
  padding: 24px;
}
